* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
body {
    padding-top: 150px;
    font-family: "Playfair Display", serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.hat {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background-color: #343a40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.BuyIn {
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.but {
    height: 60px;
    width: 150px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.but:hover {
    background-color: #0056b3;
}

#count {
    font-weight: bold;
}

#total-price {
    font-weight: bold;
}
.product-card{
    max-width: 765px;
    padding: 15px;
    border:1px solid black;
}
.product-card img{
    aspect-ratio: 1/1;
    object-fit: cover;
}
.product-info{
    display: flex;

}
