*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card{
    max-width: 765px;
    padding: 15px;
    border: 1px solid rgb(182, 182, 182);
    display: flex;
    gap:15px;
}

.product-card img{
    aspect-ratio: 1/1;
    width: 250px;
    object-fit: cover;
}

.product-info{
    display: flex;
    flex-direction: column;
}

.product-info h2{
    padding: 0;
    margin: 0;
}

.price{
    margin-top: auto;
    font-size: 36px;
    font-weight: bold;
}
.but{
    width: 150px;
    height: 30px;
    background-color: #0074E1;
    border: none;
    border-radius: 30px;
    padding: .75em 1.5em;
    cursor: pointer;
    transition: box-shadow 0.2 linear;
}

.but:hover {
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4);
}


.minicart{
    position: fixed;
    top: 30px;
    right: 30px;

    background-color: #000;
    display: flex;
    justify-content: center; 
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
}

#total-cart{
    position: absolute;
    bottom: -7px;
    right: -7px;
    background: chocolate;
    color:#fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}